<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daraja Api Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <ul>
        <li>
            <a href="{% url 'b2c' %}">b2c</a>
        </li>
        <li>
            <a href="">c2b</a>
        </li>
        <li>
            <a href="">lipa na mpesa</a>
        </li>
        <li>
            <a href="">reversal</a>
        </li>
    </ul>


</body>

</html>